<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Data Overview</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/sys.css">
</head>
<body>
  <header>
    <div class="area"></div>
      <nav class="main-menu">
          <ul>

            <!-- Logo Section -->
            <li class="logo">
              <a href="#">
                <img src="/img/AfakLogo.png" alt="AFAK Plastic Logo" id="afakLogo">
              </a>
            </li>
            
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                      Home
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="/data">
                    <i class="fa fa-tachometer-alt fa-2x"></i>
                    <span class="nav-text">
                      Dashboard
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="/export">
                    <i class="fa fa-arrow-right fa-2x"></i>
                    <span class="nav-text">
                        Export
                    </span>
                </a>
            </li>
            <div class="bottom-buttons">
              <li id="ToggleButton" class="toggle-btn">
                <a href="#" id="toggleModeLink">
                  <span class="nav-icon">
                    <i class="fa fa-moon fa-2x" id="modeIcon"></i>
                  </span>
                  <span class="nav-text" id="modeText">Dark Mode</span>
                </a>
              </li>
          
              <li id="logoutButton" class="logout-btn">
                <a href="#">
                  <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">Logout</span>
                </a>
              </li>
            </div>
        </ul>
    </nav>
  </header>

  <!-- Main Container -->
  <div class="container">
    <h1 class="page-title" id="pageTitle">Data Overview</h1>

    <!-- Table of Data -->
    <h2 class="section-title">Companies and Model Count</h2>
    <div class="table-container">
      <table id="companiesTable">
        <thead>
          <tr>
            <th class="table-header">ID</th>
            <th class="table-header">Name</th>
            <th class="table-header">H.M.M</th>
            <th class="table-header">Created At</th>
            <th class="table-header">Action</th>
          </tr>
        </thead>
        <tbody id="companiesTableBody"></tbody>
      </table>
    </div>

    
    <h2 class="section-title">Models</h2>
    <select id="companyFilter" class="select-input" required>
      <option value="">Select Company</option>
    </select>
    <div class="table-container">
      <table id="modelsTable">
        <thead>
          <tr>
            <th class="table-header">ID</th>
            <th class="table-header">Name</th>
            <th class="table-header">Price (DH)</th>
            <th class="table-header">Discount (%)</th>
            <th class="table-header">Created At</th>
            <th class="table-header">Action</th>
          </tr>
        </thead>
        <tbody id="modelsTableBody"></tbody>
      </table>
    </div>
  </div>
  
  <script src="/js/dua.js"></script>
  <script src="/js/data.js"></script>

</body>
</html>